body {
  margin: 0;
}

.App{
  display: flex;
  width: 100%;
  height: 100vh;
}

.profileIcon{
  width: 70px;
  height: 70px;
  margin: 15px 0  0 15px ;
  border-radius: 50px;
}

.chats-zone{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: rgb(233, 233, 233);
}

.chats-zone-header{
  display: flex;
  flex-direction: column;
  background-color: rgb(194, 194, 194);
}

.search{
  width: 50%;
  height: 40px;
  border-radius: 15px;
  border-style: none;
  border: gray solid 1px;
  margin: 15px auto;
  padding: 5px;
}

.chats-zone__p{
  font-size: 25px;
  margin-left: 15px;
  color: rgb(12, 144, 177);
}

.chat{
  width: 50%;
}

.header-chat{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(243, 243, 243);
}

.header-chat__name{
  margin-left: 15px;
}

.users{
  margin-bottom: 50px;
  display: flex;
  width: 100%;
  transform: scale(0.99);
}

.users:hover{
  transform: scale(1);
}

.users__main{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
}

.users__messages{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.users__name{
  font-size: 18px;
  font-weight: 500;
}

.chat__sendMessage{
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  left: 60%;
  bottom: 0;
}

.chat__inputText{
  width: 20%;
  height: 30px;
  border-radius: 15px;
  border-style: none;
  border: gray solid 1px;
  padding: 5px;
}

.chat__inputButton{
  width: 5%;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  border: gray solid 1px;
  margin-left: 15px;
  transform: scale(1);
}
.chat__inputButton:hover{
  transform: scale(1.1);
}

.message{
  width: 30%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

/* .message_m{

} */

.message_d{
  font-size: 12px;

}