body {
  margin: 0;
}

.App{
  display: flex;
  width: 100%;
  height: 100vh;
}

.profileIcon{
  width: 70px;
  height: 70px;
  margin: 15px 0  0 15px ;
  border-radius: 50px;
}

.chats-zone{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: rgb(233, 233, 233);
  overflow-y: scroll;
}

.chats-zone-header{
  display: flex;
  flex-direction: column;
  background-color: rgb(194, 194, 194);
}

.search{
  width: 50%;
  height: 40px;
  border-radius: 15px;
  border-style: none;
  border: gray solid 1px;
  margin: 15px auto;
  padding: 5px;
}

.chats-zone__p{
  font-size: 25px;
  margin-left: 15px;
  color: rgb(12, 144, 177);
}

.chats-zone__link{
  text-decoration: none;
}

.chat{
  width: 50%;
  overflow-y: scroll;
  height: 90vh;
  /* position: relative; */
}

.header-chat{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(243, 243, 243);
  position: fixed;
  top: 0;
  left: 50;
}

.header-chat__name{
  margin-left: 15px;
  font-size: 18px;
  font-weight: 600;
}

.users{
  margin-bottom: 50px;
  display: flex;
  width: 100%;
  transform: scale(0.99);
}

.users:hover{
  transform: scale(1);
}

.users__main{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
}

.users__messages{
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: black;
}

.users__d{
  font-size: 14px;
  color: rgb(68, 68, 68);
}

.users__name{
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.chat__sendMessage{
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  left: 60%;
  bottom: 20px;
}

.chat__inputText{
  width: 20%;
  height: 30px;
  border-radius: 15px;
  border-style: none;
  border: gray solid 1px;
  padding: 5px;
}

.chat__inputButton{
  width: 5%;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  border: gray solid 1px;
  margin-left: 15px;
  transform: scale(1);
}
.chat__inputButton:hover{
  transform: scale(1.1);
}

.main-massage{
  margin-top: 100px;
}

.message{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.message_d{
  font-size: 12px;
  color: grey;
}

.message-block:nth-child(2n){
  display: flex;
  border-radius: 20px;
}

.message-block:nth-child(2n) > .message_inner-block{
  display: flex;
  flex-direction: column; 
  width: 100%;
  margin-right: 40px;

}

.message-block:nth-child(2n) > .message_inner-block >.message_m {
  background-color: gainsboro;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;

}
.message-block:nth-child(2n) > .message_inner-block >.message_d {
  display: flex;
  justify-content: flex-end;
}

